.text-112 {
    font-size: 7rem;
    font-weight: 400;
    line-height: 1;
}

.text-84 {
    font-size: 5.25rem;
    font-weight: 400;
    line-height: 1;
}

.text-64 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1;
}

.text-36 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.24;
}

.text-32 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
}

.text-20 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
}

.text-16 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}
